<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous-page">&laquo; Prev</a>
    {% else %}
      <span class="previous-page disabled">&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="page-number current-page">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | relative_url }}" class="page-number">{{ page }}</a>
      {% else %}
        <a href="{{ '/page' | append: page | relative_url }}" class="page-number">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next-page">Next &raquo;</a>
    {% else %}
      <span class="next-page disabled">Next &raquo;</span>
    {% endif %}
  {% endif %}
</div>
